* {
  box-sizing: border-box;
}

.menu_button{
    background: linear-gradient(to bottom left, #3a6fc5 40%, #2e55b3 100%);;
    box-sizing: border-box;
    border-color: white;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: unset;
    margin-bottom: 4px;
}

.menu_button:hover {
  background-color: white; /* Green */
  color: black;
  transform: scale(1.2);
}


body {
  margin: 0;
  font-family: Ariel, Helvetica, sans-serif;
  color: #302f2c;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.header {
  text-align: center;
  padding: 32px;
}

.button {
  background: linear-gradient(to bottom left, #3a6fc5 40%, #2e55b3 100%); /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 1px 1px 4px grey;
  display: inline-block;
  padding: 0.7em 1.2em;
  font-size: 1rem;
  border-radius: 3px;

}

.button1 {border-radius: 8px; width: 60%; color:white;}

.button2 {border-radius: 8px; width: auto;}

.button:hover {
  background-color: white; /* Green */
  color: black;
  transform: scale(1.2);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  margin-bottom: 8px;
  justify-content: center;


}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.column1{
text-align: center;
border-radius: 8px;

}


.column1 div{
border-radius: 8px;
background-color: white;
opacity: 85%;
box-shadow: 1px 1px 4px #000000;


}


.column div {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  width: 100%;
}


.fullscreen {
        height: 100vh;
        width: 100vw;
        position:fixed;
        top:0;
        left:0;
    }


 @media screen and (orientation:portrait) { height: 100vh;
            width: 100vw; }
 @media screen and (orientation:landscape) {height: 100vh;
            width: 100vw; }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(to bottom left, #3a6fc5 40%, #2e55b3 100%);
   color: white;
   text-align: center;
}


.header_1 {
   margin-bottom: 10rem;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background: linear-gradient(to bottom left, #3a6fc5 40%, #2e55b3 100%);
   color: white;
   text-align: center;
   opacity: 100%;
}


.section {
  padding-bottom: 2rem;
   background: white;
}


.section_1 {
   background-color: white;
   padding-bottom: 5rem;
}

.filters {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.column div:hover {
  opacity: 100%;
}

.desc{
text-align: center;
display: flex;
margin: 0 auto;
justify-content: center;
width: 90%;
}

.avatar {
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
  background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  box-shadow: 2px 2px 8px #000000;

}

.bottom-footer{
  border-style: solid;
  border-width: 1px 0px;
  border-color: black;

}

.navbar {
  overflow: visible;
  background: linear-gradient(to bottom left, #3a6fc5 40%, #2e55b3 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
}

.navbar p {
float: left;
color: white
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: black;
}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}




.filterDiv {
  float: center;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  display: inline; /* Hidden by default */
}

.cards{


}


/*Test describtion css */
.desc{
padding: 1%
}

.test_desc_text{
padding-top: 0%;

}


.section_test_desc {
padding-left: 32%;
padding-right: 32%;
   padding-top: 1%;
   background-color: white;
   text-align: left;
display: flex;
margin: 0 auto;
justify-content: center;

}

.title{
  padding-top: 5%;
  text-align: center;
}

.desc_img {
padding-top: 0%;
display: flex;
margin: 0 auto;
justify-content: center;
border-radius: 3%;

}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main {
    width: 100%;
  }
}











