* {
  box-sizing: border-box;
}

body {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: #302f2c;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  margin-top: 3em;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:grey; /* color */
  /* display: none;  */
  z-index: 98;
  opacity: 0.5;
}

.backdrop{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; 
  width:50%;
  height: 50vh;
  top: 25%;
  bottom: 25%;
  /* width: 50%; left: 50%; transform: translateX(-50%); margin-top: 5rem; padding-bottom: 5rem */

}

.popup{
  width:100%;
  max-height: 100vh;
  border: 3px solid blue;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  box-shadow:  0 0 1rem rgba(0, 0, 0, 0.1);
  /* width: 100vw;
  height: 100vh; */
}

.gif{
}

@media only screen and (max-height:500px) {
  /* For mobile phones: */
  .popup {
    padding: 0rem;
    width:140%;
    font-size: 70%;

  }
}


@media only screen and (max-height:500px) {
  /* For mobile phones: */
  .backdrop {
    position: absolute;

  }
  .gif {
    display: None;
  }

  h1{
    margin-top: 0;
  }
}


.header {
  text-align: center;
  padding: 32px;
}

.button {
  background: linear-gradient(to bottom left, #6631ff 40%, #2e55b3 100%); /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 1px 1px 4px grey;
  display: inline-block;
  padding: 0.7em 1.2em;
  border-radius: 25px;
  justify-content: center;
}


.button1 {width: 60%; color:white;}

.button2 {width: auto;}

.button:hover {
  background-color: white; /* Green */
  color:#2d2e2d;border-radius: 8px; 
  transform: scale(1.05);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  margin-bottom: 8px;
  justify-content: center;


}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.column1{
text-align: center;
border-radius: 8px;

}


.column1 div{
border-radius: 8px;
opacity: 85%;
box-shadow: 1px 1px 4px #000000;


}

.column div {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  width: 100%;
}


 @media screen and (orientation:portrait) {height: 100vh;
            width: 100vw; }
 @media screen and (orientation:landscape) {height: 100vh;
            width: 100vw; }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(to bottom left, #6631ff 40%, #2e55b3 100%);
   color: white;
   text-align: center;
}


.header_1 {
   margin-bottom: 10rem;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background: linear-gradient(to bottom left, #6631ff 40%, #2e55b3 100%);
   color: white;
   text-align: center;
   opacity: 100%;
}


.section_1 {
   /* background-color:white; */
   padding-bottom: 5rem;
}


.filters {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.desc{
text-align: center;
display: flex;
margin: 0 auto;
justify-content: center;
width: 90%;
max-width: 600px;
}

.avatar {
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
  background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  box-shadow: 2px 2px 8px #000000;

}

.bottom-footer{
  border-style: solid;
  border-width: 1px 0px;
  border-color: black;

}

.navbar {
  overflow: visible;
  background: linear-gradient(to bottom left, #6631ff 40%, #2e55b3 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
}

.balls {
  position: fixed;
  width: 100%;
}



.navbar p {
float: left;
color: white
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: white;
  color: black;
}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.filterDiv {
  float: center;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  display: inline; /* Hidden by default */
}

.ball{
  opacity: 0.15; 
  position: fixed; 
  text-rendering: optimizeLegibility; 
  color:white; 
  background:
  -webkit-linear-gradient(#f84f85, #2e55b3); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color:
  transparent; z-index: -1;
  font-size: 80px;
}


/*Test describtion css */
/* .desc{
padding: 1%;
width: 80%;
} */

.test_desc_text{
padding-top: 0%;
max-width: 400px;
width: 80%;

}


.section_test_desc {
max-width: 400px;
padding-left: 16%;
padding-right: 16%;
   padding-top: 1%;
   /* background-color: white; */
   text-align: left;
display: flex;
margin: 0 auto;
justify-content: center;
width: 80%;

}

.title{
  padding-top: 5%;
  text-align: center;
}

.desc_img {
max-width: 400px;
padding-top: 0%;
display: flex;
margin: 0 auto;
justify-content: center;
border-radius: 7%;
padding-left: 16%;
padding-right: 16%;
}


.img_center{
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.test_link{
  color:white;
  font-weight: 900;
  font-size: larger;
}

.main{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  }

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main {
    width: 100%;
  }
}


@media only screen and (max-width: 500px) {
  .ball_1 {
    font-size: 10vh;
  }
}

/* @media screen and (max-width: 800px) {
  .backdrop {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 30%;
  }
} */


.popup{
  width: 19rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-shadow:  0 0 1rem rgba(0, 0, 0, 0.1);
}

.the-blood-coders-name,
.the-blood-coders-name:link,
.the-blood-coders-name:visited{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: -2.6rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right top ,#e90606, #ff4a4a );
    color: rgb(241, 241, 241);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    transform: skew(-10deg) rotate(-3deg);
    box-shadow:0 0 1rem rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;

}

.title{
  font-size: 1.2em;
  margin-bottom: 1rem;
}

 .title--span{
  background-image: linear-gradient(145deg,#232526,#414345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.link{
  word-break: break-all;
  line-height: 1.4;
  display: block;
  color: rgb(29, 29, 250);
  margin-bottom: 1.2rem;
}

.btn-ok,
.btn-ok:link,
.btn-ok:active,
.btn-ok:visited{
  text-transform: uppercase;
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 2rem;
  color: #ffffff;
  background-image: linear-gradient(145deg,#ffe530,#ff2525);
}


















